/*
Source file name : https://github.com/em-graphics/SolarSystem.git
Live link : http://solarsystem-assignment2.azurewebsites.net
Author : Eunmi Han(300790610)
Date last Modified : Mar 26, 2016
Program Description : Solar System (Mercury, Venus, Earth and Mars with Moon)
Revision History :1.10

Last Modified by Eunmi Han

*/

body{
    /* set margin to 0 and overflow to hidden, to use the complete page */
    margin: 0;
    overflow: hidden;
    background-color: #161616;
}